extends _layout

block content
  .ibm-columns
    .ibm-col-6-2
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/bike shop.svg')
        .ibm-card__content
            h3.ibm-h3 #{ __('Bikes') }
            p #{ __('Dog Insurance Product') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop/bikes') #{ __('Go To The Dog Insurance Product shop') }
    .ibm-col-6-2
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/phone shop.svg')
          .ibm-card__content
              h3.ibm-h3 #{ __('Smart Phones') }
              p #{ __('Cat Insurance Product') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/shop/smart-phones') #{ __('Go To The Cat Insurance Product Shop') }
    
